* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 10em;
    margin-right: 10em;
}

.logo {
    width: 12em;
    height: 5em;
}

ul {
    list-style: none;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

li {
    display: inline-block;
    margin-right: .4em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #b7b7b7;
}

a:visited {
    color: #b7b7b7;
}

